.h1{
    font-family: Helvetica;
    color: blue;
    font-size: 40px;
}

.navegar nav{
    font-family: Helvetica;
    text-align: right;
    font-size: 20px;
}

.containerUno p{
    font-family: Helvetica;
    text-align: bottom;
    font-size: 20px;
}

.containerUno img{
    width: 500px;
    height: 500px;
    position: relative;
}

.containerDos img{
    width: 100px;
    height: 100px;
}

.containerDos p{
    font-size: 20px;
}